In [1]:
! pip install pandas numpy matplotlib seaborn pathlib

Requirement already satisfied: pandas in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (2.3.5)
Requirement already satisfied: matplotlib in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (3.10.7)
Requirement already satisfied: seaborn in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: pathlib in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
from pathlib import Path
import pandas as pd

file_path = Path("C:\\Users\\DVK\\Desktop\\Amazon_decade_Sales_project\\data\\amazon_india_complete_2015_2025.csv")
amazon_india_2015_2025 = pd.read_csv(file_path)
amazon_india_2015_2025.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2023_00063013,2023-07-23,CUST_2023_00018393,PROD_000454,Vivo Y95 64GB Black,Electronics,Smartphones,Vivo,27340.84,21.57,...,False,NaN,4.0,Delivered,7,2023,3,0.20,True,3.5
1,TXN_2021_00064486,20-07-2021,CUST_2015_00002865,PROD_000579,Realme Realme 3 128GB Black,Electronics,Smartphones,Realme,32907.49,0.00,...,False,NaN,5/5,Delivered,7,2021,3,0.21,False,4.5
2,TXN_2017_00065617,2017-11-16,CUST_2016_00004057,PROD_000295,Vivo V7 32GB Blue,Electronics,Smartphones,Vivo,"47,052.18",21.91,...,False,NaN,5.0,Delivered,11,2017,4,0.24,True,4.3
3,TXN_2020_00054393,2020-05-04,CUST_2020_00014574,PROD_001654,Alienware Pavilion 4GB RAM Silver,Electronics,Laptops,Alienware,238725.44,59.60,...,True,Summer Sale,5.0 stars,Delivered,5,2020,2,1.85,Yes,3.6
4,TXN_2018_00071646,2018-10-09,CUST_2018_00006275,PROD_000095,Motorola Moto X Play 16GB White,Electronics,Smartphones,Motorola,25970.76,0.00,...,False,NaN,4.0,Delivered,10,2018,4,0.16,False,3.7

In [3]:
amazon_india_2015_2025.shape

(1127609, 34)

In [4]:
amazon_india_2015_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 292.5+ MB

In [5]:
amazon_india_2015_2025.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [6]:
amazon_india_2015_2025.dtypes

transaction_id             object
order_date                 object
customer_id                object
product_id                 object
product_name               object
category                   object
subcategory                object
brand                      object
original_price_inr         object
discount_percent          float64
discounted_price_inr      float64
quantity                    int64
subtotal_inr              float64
delivery_charges          float64
final_amount_inr          float64
customer_city              object
customer_state             object
customer_tier              object
customer_spending_tier     object
customer_age_group         object
payment_method             object
delivery_days              object
delivery_type              object
is_prime_member            object
is_festival_sale           object
festival_name              object
customer_rating            object
return_status              object
order_month                 int64
order_year                  int64
order_quarter               int64
product_weight_kg         float64
is_prime_eligible          object
product_rating            float64
dtype: object

In [7]:
amazon_india_2015_2025.describe()

,discount_percent,discounted_price_inr,quantity,subtotal_inr,delivery_charges,final_amount_inr,order_month,order_year,order_quarter,product_weight_kg,product_rating
count,1.127609e+06,1.127609e+06,1.127609e+06,1.127609e+06,1.037408e+06,1.127609e+06,1.127609e+06,1.127609e+06,1.127609e+06,1.127609e+06,1.127609e+06
mean,1.742035e+01,5.454134e+04,1.250063e+00,6.818740e+04,3.084611e-04,6.818740e+04,6.940627e+00,2.020637e+03,2.645922e+00,7.806976e-01,3.975245e+00
std,2.055377e+01,4.582480e+04,5.365034e-01,6.893407e+04,1.110782e-01,6.893407e+04,3.539183e+00,2.690906e+00,1.140795e+00,3.674216e+00,4.536469e-01
min,0.000000e+00,3.443300e+02,1.000000e+00,3.443300e+02,0.000000e+00,3.443300e+02,1.000000e+00,2.015000e+03,1.000000e+00,3.000000e-02,3.000000e+00
25%,0.000000e+00,2.278069e+04,1.000000e+00,2.521799e+04,0.000000e+00,2.521799e+04,4.000000e+00,2.019000e+03,2.000000e+00,1.800000e-01,3.600000e+00
50%,1.037000e+01,3.800119e+04,1.000000e+00,4.473182e+04,0.000000e+00,4.473182e+04,7.000000e+00,2.021000e+03,3.000000e+00,2.100000e-01,4.000000e+00
75%,2.841000e+01,7.410332e+04,1.000000e+00,8.852179e+04,0.000000e+00,8.852179e+04,1.000000e+01,2.023000e+03,4.000000e+00,2.400000e-01,4.400000e+00
max,7.000000e+01,4.207048e+05,3.000000e+00,1.262114e+06,4.000000e+01,1.262114e+06,1.200000e+01,2.025000e+03,4.000000e+00,4.426000e+01,4.800000e+00

In [8]:
amazon_india_2015_2025.describe(include='object')

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,customer_city,...,customer_age_group,payment_method,delivery_days,delivery_type,is_prime_member,is_festival_sale,festival_name,customer_rating,return_status,is_prime_eligible
count,1127609,1127609,1127609,1127609,1127609,1127609,1127609,1127609,1127609,1127609,...,992294,1127609,1127609,1127609,1127609,1127609,349873,785913,1127609,1127609
unique,1127609,14414,354969,2004,1974,5,6,29,46185,50,...,5,7,13,3,8,8,8,21,3,8
top,TXN_2023_00063013,2020-12-02,CUST_2015_00003928,PROD_001935,Garmin Watch Deluxe,Electronics,Smartphones,Samsung,45363.47,Mumbai,...,26-35,UPI,3,Standard,False,False,Back to School,4.5,Delivered,True
freq,1,543,27,2916,2916,1126726,827177,222664,409,140536,...,347899,384228,288488,784003,635593,707951,85396,245857,1022431,840778

In [9]:
amazon_india_2015_2025.isnull().sum()

transaction_id                 0
order_date                     0
customer_id                    0
product_id                     0
product_name                   0
category                       0
subcategory                    0
brand                          0
original_price_inr             0
discount_percent               0
discounted_price_inr           0
quantity                       0
subtotal_inr                   0
delivery_charges           90201
final_amount_inr               0
customer_city                  0
customer_state                 0
customer_tier                  0
customer_spending_tier         0
customer_age_group        135315
payment_method                 0
delivery_days                  0
delivery_type                  0
is_prime_member                0
is_festival_sale               0
festival_name             777736
customer_rating           341696
return_status                  0
order_month                    0
order_year                     0
order_quarter                  0
product_weight_kg              0
is_prime_eligible              0
product_rating                 0
dtype: int64

In [10]:
amazon_india_2015_2025.nunique()

transaction_id            1127609
order_date                  14414
customer_id                354969
product_id                   2004
product_name                 1974
category                        5
subcategory                     6
brand                          29
original_price_inr          46185
discount_percent             6502
discounted_price_inr       605861
quantity                        3
subtotal_inr               629180
delivery_charges                2
final_amount_inr           629180
customer_city                  50
customer_state                 15
customer_tier                   4
customer_spending_tier          3
customer_age_group              5
payment_method                  7
delivery_days                  13
delivery_type                   3
is_prime_member                 8
is_festival_sale                8
festival_name                   8
customer_rating                21
return_status                   3
order_month                    12
order_year                     11
order_quarter                   4
product_weight_kg             206
is_prime_eligible               8
product_rating                 19
dtype: int64

In [11]:
amazon_india_2015_2025['customer_city'].value_counts()

customer_city
Mumbai           140536
Delhi            122365
Bangalore        101416
Chennai           83646
Pune              67703
Kolkata           65767
Ahmedabad         50861
Hyderabad         44573
Jaipur            40453
Surat             40400
Nagpur            37211
Kanpur            34334
Lucknow           34077
Indore            33592
Coimbatore        26695
Kochi             24940
Visakhapatnam     22167
Patna             21339
Vadodara          21078
Bhubaneswar       20472
Chandigarh        19575
Ludhiana          18891
Saharanpur         6705
Meerut             6641
Bareilly           6590
Aligarh            6407
Allahabad          6030
Varanasi           5897
Gorakhpur          5867
Moradabad          5855
New Delhi           304
Mumbai              304
Kolkata             294
Bombay              289
Banglore            287
KOLKATA             285
CHENNAI             285
delhi               283
Delhi NCR           282
chenai              280
mumba               279
Bengalore           277
BANGALORE           277
Chennai             276
Madras              266
Bengaluru           266
Calcutta            264
kolkata             257
MUMBAI              236
DELHI               235
Name: count, dtype: int64

In [12]:
amazon_india_2015_2025.sample(30)

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
375486,TXN_2025_00065507,2025-11-08,CUST_2025_00022434,PROD_000442,Vivo V11 64GB White,Electronics,Smartphones,Vivo,23288.52,0.00,...,False,NaN,4.5/5.0,Delivered,11,2025,4,0.23,True,4.2
238058,TXN_2023_00028542,2023-03-10,CUST_2023_00014504,PROD_000302,Vivo V7+ 64GB White,Electronics,Smartphones,Vivo,26768.77,67.16,...,True,Holi Festival,NaN,Delivered,3,2023,1,0.21,False,3.6
1051849,TXN_2022_00004813,2022-01-09,CUST_2020_00040506,PROD_000512,Samsung Galaxy S10+ 64GB Black,Electronics,Smartphones,Samsung,79188.39,20.53,...,False,NaN,3.5,Delivered,1,2022,1,0.22,True,4.7
342645,TXN_2023_00074517,2023-08-30,CUST_2016_00010595,PROD_000293,Vivo V7 64GB White,Electronics,Smartphones,Vivo,14015.11,0.00,...,False,NaN,NaN,Delivered,8,2023,3,0.20,True,4.2
125334,TXN_2020_00072712,2020-07-30,CUST_2019_00001191,PROD_000097,Motorola Moto X Play 16GB Blue,Electronics,Smartphones,Motorola,15993.14,0.00,...,False,NaN,NaN,Delivered,7,2020,3,0.18,True,4.2
497658,TXN_2022_00030207,2022-04-01,CUST_2021_00032794,PROD_001037,Realme Realme 9 128GB White,Electronics,Smartphones,Realme,"₹32,683.56",28.34,...,False,NaN,5.0,Delivered,4,2022,2,0.22,False,4.1
51514,TXN_2019_00094253,2019-10-05,CUST_2019_00010017,PROD_001892,Samsung Tracker Premium,Electronics,Smart Watch,Samsung,30656.47,34.44,...,TRUE,Amazon Great Indian Festival,NaN,Delivered,10,2019,4,0.06,True,3.5
927831,TXN_2021_00002949,2021-01-08,CUST_2017_00021387,PROD_000251,Samsung Galaxy Note 8 32GB Black,Electronics,Smartphones,Samsung,118697.97,27.34,...,False,NaN,4.5,Delivered,1,2021,1,0.21,False,4.7
584155,TXN_2020_00087394,2020-09-12,CUST_2020_00017264,PROD_000584,Realme Realme 3 64GB Blue,Electronics,Smartphones,Realme,52434.37,0.00,...,False,NaN,4.5,Delivered,9,2020,3,0.15,True,3.9
299543,TXN_2019_00097862,2019-11-15,CUST_2019_00029899,PROD_000108,Apple iPhone 7 64GB Black,Electronics,Smartphones,Apple,176683.11,8.77,...,False,NaN,NaN,Delivered,11,2019,4,0.20,True,3.3
113625,TXN_2021_00035803,2021-04-01,CUST_2021_00013056,PROD_001567,Lenovo Ultrabook 8GB RAM Silver,Electronics,Laptops,Lenovo,"Rs 59,698",9.70,...,False,NaN,4.5,Delivered,4,2021,2,1.29,False,4.2
933421,TXN_2019_00119408,2019-12-10,CUST_2019_00040912,PROD_000391,OnePlus OnePlus 6T 256GB Black,Electronics,Smartphones,OnePlus,102078.23,26.11,...,False,NaN,5.0,Delivered,12,2019,4,0.24,True,3.9
881043,TXN_2021_00046312,2021-05-02,CUST_2021_00021986,PROD_000704,OnePlus OnePlus 8 Pro 64GB Black,Electronics,Smartphones,OnePlus,67316.79,41.48,...,True,Summer Sale,NaN,Returned,5,2021,2,0.18,False,3.8
506822,TXN_2023_00019859,2023-03-28,CUST_2023_00007008,PROD_000712,OnePlus OnePlus Nord 64GB White,Electronics,Smartphones,OnePlus,52869.5,11.37,...,False,NaN,5.0,Cancelled,3,2023,1,0.21,True,3.9
61382,TXN_2025_00032274,2025-06-04,CUST_2025_00027112,PROD_000347,Apple iPhone XS 64GB Blue,Electronics,Smartphones,Apple,98399.05,6.66,...,False,NaN,4.5,Delivered,6,2025,2,0.21,True,4.3
16743,TXN_2020_00088027,2020-09-27,CUST_2016_00016089,PROD_000537,OnePlus OnePlus 7 256GB White,Electronics,Smartphones,OnePlus,104626.45,16.40,...,True,Amazon Great Indian Festival,5.0,Delivered,9,2020,3,0.25,True,3.4
362239,TXN_2021_00094602,2021-09-25,CUST_2021_00007089,PROD_000166,OnePlus OnePlus 3T 32GB White,Electronics,Smartphones,OnePlus,115905.84,51.40,...,True,Amazon Great Indian Festival,NaN,Delivered,9,2021,3,0.23,True,4.6
245998,TXN_2024_00036373,2024-05-11,CUST_2024_00036135,PROD_000219,Apple iPhone 8 64GB White,Electronics,Smartphones,Apple,154619.5,29.69,...,True,Summer Sale,NaN,Delivered,5,2024,2,0.23,True,3.5
448878,TXN_2018_00071749,2018-10-14,CUST_2018_00034064,PROD_000036,Samsung Galaxy S6 Edge 16GB Gold,Electronics,Smartphones,Samsung,104592.57,9.61,...,False,NaN,3.5,Delivered,10,2018,4,0.16,False,3.9
22261,TXN_2017_00040386,2017-08-24,CUST_2017_00000522,PROD_000152,Samsung Galaxy J7 Prime 16GB Blue,Electronics,Smartphones,Samsung,31102.58,22.39,...,False,NaN,NaN,Delivered,8,2017,3,0.16,True,3.6
2613,TXN_2019_00091504,2019-10-24,CUST_2019_00012417,PROD_000181,Xiaomi Mi 5 64GB White,Electronics,Smartphones,Xiaomi,38357.49,69.48,...,True,Diwali Sale,4.5,Delivered,10,2019,4,0.21,True,4.2
188060,TXN_2020_00101448,2020-10-04,CUST_2020_00045107,PROD_000610,Vivo V15 Pro 256GB White,Electronics,Smartphones,Vivo,34852.09,62.05,...,True,Amazon Great Indian Festival,NaN,Delivered,10,2020,4,0.19,True,4.1
191163,TXN_2022_00019331,2022-02-27,CUST_2019_00020199,PROD_001949,Noise Watch Premium,Electronics,Smart Watch,Noise,59634.12,0.00,...,False,NaN,NaN,Delivered,2,2022,1,0.07,True,4.3
795288,TXN_2018_00078667,04-11-2018,CUST_2018_00002276,PROD_000299,Vivo V7+ 64GB Black,Electronics,Smartphones,Vivo,26432.57,63.40,...,True,Diwali Sale,3.0,Delivered,11,2018,4,0.18,True,4.7
314983,TXN_2024_00032501,2024-04-11,CUST_2019_00016477,PROD_000268,OnePlus OnePlus 5 16GB Blue,Electronics,Smartphones,OnePlus,"₹62,503.09",0.00,...,False,NaN,NaN,Delivered,4,2024,2,0.17,False,4.5
1011237,TXN_2025_00005979,2025-01-11,CUST_2018_00011131,PROD_001197,Nothing Phone (2) 128GB White,Electronics,Smartphones,Nothing,40818.27,0.00,...,False,NaN,4.0,Delivered,1,2025,1,0.17,True,3.4
673765,TXN_2019_00067569,2019-08-07,CUST_2019_00015442,PROD_001999,LG OLED TV,Electronics,TV & Entertainment,LG,113467.1,0.00,...,False,NaN,4.5,Delivered,8,2019,3,25.63,True,3.5
916510,TXN_2024_00113726,2024-12-28,CUST_2021_00042619,PROD_000119,Apple iPhone 7 Plus 64GB White,Electronics,Smartphones,Apple,105122.33,0.00,...,False,NaN,NaN,Returned,12,2024,4,0.24,True,4.0
3378,TXN_2023_00072392,2023-08-19,CUST_2020_00024549,PROD_001182,Realme Realme GT 3 64GB Blue,Electronics,Smartphones,Realme,22193.91,0.00,...,False,NaN,5.0,Delivered,8,2023,3,0.21,True,4.1
659229,TXN_2020_00091178,2020-09-03,CUST_2020_00020664,PROD_000059,OnePlus OnePlus X 32GB Black,Electronics,Smartphones,OnePlus,-70431.71,0.00,...,0,NaN,4.5,Delivered,9,2020,3,0.20,True,3.8

In [13]:
amazon_india_2015_2025.duplicated().sum()

np.int64(0)

In [14]:
amazon_india_2015_2025['order_date'].head(30)

0     2023-07-23
1     20-07-2021
2     2017-11-16
3     2020-05-04
4     2018-10-09
5     2016-06-22
6     2019-10-22
7     2020-05-24
8     2022-03-10
9     2017-09-05
10    2018-12-19
11    2019-01-07
12    2020-12-25
13    2017-11-24
14    2018-09-22
15    2015-10-08
16    2022-02-27
17    2025-09-01
18    2017-06-20
19    2020-05-17
20    2019-04-26
21    02-12-2023
22    2021-01-22
23    2020-08-02
24    12/10/2017
25    29-04-2018
26    2020-12-26
27    2025-08-24
28    2016-01-02
29    2025-02-04
Name: order_date, dtype: object

In [15]:
amazon_india_2015_2025['original_price_inr'].head(60)

0       27340.84
1       32907.49
2      47,052.18
3      238725.44
4       25970.76
5       21541.01
6       39859.05
7      105554.58
8       26198.55
9      121800.87
10     144593.95
11      32101.77
12      36863.54
13      43614.86
14      76298.72
15     117289.33
16      47281.46
17       23082.2
18      25596.32
19      33539.59
20    ₹47,371.51
21      72975.05
22     392777.17
23      32653.28
24      22222.75
25      72618.91
26    ₹70,765.53
27       25535.5
28      52750.75
29       8231.71
30      65858.34
31      78981.32
32     116225.52
33      41452.69
34      89231.09
35       51502.9
36      52029.25
37      41404.07
38     227208.08
39      27092.49
40      28276.62
41      55538.72
42      21196.36
43      119456.0
44      31043.54
45      30943.32
46      42642.37
47     135540.55
48       56370.4
49     158433.75
50     147489.17
51      40438.41
52      46686.94
53      60953.37
54      108620.1
55      79316.75
56      28856.26
57     118342.62
58     142539.73
59      23725.43
Name: original_price_inr, dtype: object

In [16]:
amazon_india_2015_2025['product_rating'].sample(20)

953664     4.0
476193     4.2
144365     4.2
1046653    3.8
450668     3.6
895736     3.8
47615      4.4
187025     3.4
794123     3.6
583325     3.7
313035     3.8
321085     4.0
169256     4.5
374858     3.3
710764     4.6
403824     3.3
1043272    4.6
4972       3.3
1098080    3.8
324441     4.6
Name: product_rating, dtype: float64

In [17]:
amazon_india_2015_2025['customer_city'].head(20)

0       Kolkata
1      Ludhiana
2     Bangalore
3     Bangalore
4         Kochi
5        Mumbai
6         Delhi
7        Mumbai
8       Kolkata
9        Mumbai
10    Bangalore
11    Bangalore
12      Aligarh
13        Surat
14        Delhi
15      Kolkata
16     Ludhiana
17       Kanpur
18    Bangalore
19       Kanpur
Name: customer_city, dtype: object

In [18]:
amazon_india_2015_2025[['is_prime_member', 'is_prime_eligible', 'is_festival_sale']].head(20)

   is_prime_member is_prime_eligible is_festival_sale
0            False              True            False
1            False             False            False
2            False              True            False
3            False               Yes             True
4            False             False            False
5                0              True             True
6            False              True             True
7            False              True            FALSE
8            False              True             TRUE
9            False              True            False
10           False              True            False
11           False              True            False
12           False              True            False
13           False               Yes            False
14           False              TRUE             True
15           False             False            False
16               1              True            False
17           False              True            FALSE
18           False              True             True
19           False              True            False

In [19]:
amazon_india_2015_2025['category'].sample(20)

849376     Electronics
752131     Electronics
645718     Electronics
659563     Electronics
419310     Electronics
522798     Electronics
545114     Electronics
643084     Electronics
265744     Electronics
474680     Electronics
708241     Electronics
1072400    Electronics
1059433    Electronics
824369     Electronics
1078482    Electronics
833821     Electronics
567073     Electronics
1016301    Electronics
544397     Electronics
974119     Electronics
Name: category, dtype: object