In [1]:
! pip install mysql-connector-python sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (2.0.44)
Requirement already satisfied: pymysql in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dvk\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.15.0)

In [5]:
from pathlib import Path
import pandas as pd
import numpy as np


file_path = Path("C:\\Users\\DVK\\Desktop\\Amazon_decade_Sales_project\\practice\\amazon_2015_cleaned.csv")
amazon_2015 = pd.read_csv(file_path)
amazon_2015#.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,festival_name,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating,customer_rating_clean,is_rating_missing
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,Republic Day Sale,Delivered,1,2015,1,0.19,True,4.7,5.000000,0
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,No Festival,Delivered,1,2015,1,0.20,True,4.1,4.500000,0
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,Republic Day Sale,Delivered,1,2015,1,0.17,True,3.3,4.321564,0
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,21947.26,0.00,...,No Festival,Delivered,1,2015,1,0.22,True,3.5,3.000000,0
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,No Festival,Delivered,1,2015,1,0.20,True,4.1,4.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33160,TXN_2015_00001578_DUP,2015-01-24,CUST_2015_00002994,PROD_000063,OnePlus OnePlus X 32GB Blue,Electronics,Smartphones,OnePlus,75380.48,45.58,...,Republic Day Sale,Delivered,1,2015,1,0.18,True,3.8,5.000000,0
33161,TXN_2015_00004573_DUP,2015-03-01,CUST_2015_00005528,PROD_001546,Dell MacBook 4GB RAM Silver,Electronics,Laptops,Dell,29350.42,22.28,...,Holi Festival,Delivered,3,2015,1,1.21,True,3.4,4.000000,0
33162,TXN_2015_00003696_DUP,2015-02-27,CUST_2015_00011570,PROD_001710,Lenovo Tab M10 8GB RAM Black,Electronics,Tablets,Lenovo,56337.89,23.68,...,No Festival,Delivered,2,2015,1,0.49,True,4.1,4.321564,0
33163,TXN_2015_00032368_DUP,2015-12-04,CUST_2015_00005774,PROD_000083,Xiaomi Redmi Note 4G 16GB Blue,Electronics,Smartphones,Xiaomi,33199.84,0.00,...,No Festival,Delivered,12,2015,4,0.15,False,4.1,4.321564,0
33164,TXN_2015_00014927_DUP,2015-07-27,CUST_2015_00000326,PROD_000036,Samsung Galaxy S6 Edge 16GB Gold,Electronics,Smartphones,Samsung,88872.68,0.00,...,No Festival,Delivered,7,2015,3,0.16,False,3.9,4.321564,0

In [6]:
from sqlalchemy import create_engine
engine = create_engine(
    "mysql+pymysql://root:admin@localhost:3306/amazon_india_2015_2025"
)

In [7]:
amazon_2015.to_sql(
    name="amazon_2015_cleaned",
    con=engine,
    if_exists="replace",   # use "append" if table already exists
    index=False,
    chunksize=1000
)

33165